:root {
  /* COLORS */
  --text-footer-color: #191919;
  --text-color-active: rgba(25, 25, 25, 0.7);
  --btn-drop-footerfont-color: rgb(0, 186, 252);
  --btn-drop-footerfont-color-80: rgba(0, 186, 252,0.8);
  --btn-drop-footerfont-color-60: rgba(0, 186, 252,0.6);
  /* FONT */
  --site-font: 'Open Sans', "Arial", sans-serif;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--site-font);
  font-style: normal;
  font-weight: normal;
  background-color: #fff;
  color: var(--text-footer-color);
}

.site-main {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */
.site-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.site-header-wrapper {
  display: flex;
  align-items: center;
}

/* HEADER img a */
.header-logo__link {
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.site-logo__img {
  display: block;
}

.header-logo__link:hover {
  opacity: 0.7;
}

.header-logo__link:active {
  opacity: 0.4;
}

/* HEADER ul */
.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* HEADER li */
.nav-list-item {
  position: relative;
}

.nav-list-item:hover .list-drop {
  display: block;
}

/* LIST ITEM LINK */
.list-item-link {
  padding: 16px;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  color: var(--text-footer-color);
  transition: box-shadow 0.3s ease,
  background-color 0.3s ease;
}

.nav-list-item:hover .list-item-link {
  box-shadow: inset 0 -3px 0 0 #222;
}

.nav-list-item:hover .list-item-link:active {
  box-shadow: inset 0 -3px 0 0 transparent;
}

.list-item-link:active {
  color: #fff;
  background-color: var(--text-color-active);
}

.list-item-link__active {
  box-shadow: inset 0 -3px 0 0;
}

.list-drop {
  position: absolute;
  z-index: 95;
  margin: 0;
  padding: 8px 0 8px 0;
  display: none;
  min-width: 124px;
  top: 38px;
  left: -16px;
  border-radius: 5px;
  white-space: nowrap;
  list-style-type: none;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.list-drop-item:hover .drop-item-link {
  background-color: var(--btn-drop-footerfont-color);
  color: #fff;
}

.list-drop-item:active .drop-item-link {
  opacity: 0.6;
}

.drop-item-link {
  display: block;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  color: #222;
  transition: opacity 0.3s ease,
  background-color 0.3s ease,
  color 0.3s ease;
}

.button {
  padding: 6px 16px;
  border: 3px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  background-color: var(--btn-drop-footerfont-color);
  transition: background-color 0.3s ease,
  color 0.3s ease,
  opacity 0.3s ease;
}

.button:hover {
  background-color: rgba(0, 186, 252, 0.8);
}

.button:active {
  background-color: rgba(0, 186, 252, 0.6);
}

.call-me-link:hover {
  border: 3px solid var(--btn-drop-footerfont-color);
  background-color: #fff;
  color: var(--btn-drop-footerfont-color);
}

.call-me-link:active {
  color: #fff;
  background-color: var(--btn-drop-footerfont-color);
  opacity: 0.6;
}

/* promo heading */

.promo-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.promo-heading-left {
  margin-right: 40px;
  width: 470px;
}

.promo-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 130%;
}

.promo-content {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.promo-link {
  display: inline-block;
  margin-top: 16px;
  width: 232px;
  text-align: center;
}

.promo-heading-iframe {
  width: 458px;
  height: 258px;
  border-radius: 5px;
}

/* SERVICES */
.site-services {
  padding-top: 56px;
  padding-bottom: 56px;
}

.services-head {
  margin: 0 auto;
  width: 719px;
  text-align: center;
}

.services-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
}

.services-content {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.services-card-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 24px;
  padding: 0;
  list-style-type: none;
  background: #FFFFFF;
}

.services-card-item {
  width: 320px;
}

.services-card-item:not(:nth-child(1)) {
  margin-left: 70px;
}

.services-card-item:nth-child(4) {
  margin-left: 0;
}

.services-card__link {
  display: block;
  padding: 170px 80px 24px;
  text-align: center;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-footer-color);
}

.services-card__link:hover {
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.services-card__link:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.make-web-site {
  background-image: url(../img/make-web-site.svg);
  background-repeat: no-repeat;
  background-position: center top calc(24px);
}

.tg-bot {
  background-image: url(../img/tg-bot.svg);
  background-repeat: no-repeat;
  background-position: center top calc(24px);
}

.smm {
  background-image: url(../img/smm.svg);
  background-repeat: no-repeat;
  background-position: center top calc(24px);
}

.grafic-design {
  background-image: url(../img/service-design.svg);
  background-repeat: no-repeat;
  background-position: center top calc(24px);
}

.crm-base {
  background-image: url(../img/crm-base.svg);
  background-repeat: no-repeat;
  background-position: center top calc(24px);
}


.services-item-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.services-item-text {
  margin: 16px 0 0 0;
  padding: 0;
}

.grafic-design {
  margin-top: 48px;
  margin-bottom: 40px;
}

.crm-base {
  margin-top: 48px;
  margin-bottom: 40px;
}

.to-order-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-services-link:not(:last-child) {
  display: inline-block;
  margin-right: 16px;
}

.simple-link {
  display: inline-block;
  color: var(--btn-drop-footerfont-color);
}

/* HOW WE WORK */
.how-we-work-head {
  margin: 0 auto;
  width: 719px;
}

.work-head-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 130%;
  font-weight: bold;
  text-align: center;
}

.work-head-text {
  margin: 16px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.how-we-work-list {
  margin: 0 0 50px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.how-we-work-item {
  display: flex;
  margin: 50px auto 0;
  justify-content: space-between;
  align-items: center;
  width: 830px;
}

.how-we-work-item:first-child {
  margin: 12px auto 0;
}

.how-we-work-item:nth-child(even) {
  flex-direction: row-reverse;
}

.work-item-1::before {
  display: block;
  content: "";
  width: 300px;
  height: 280px;
  background-image: url(/img/how-we-work-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.work-item-2::before {
  display: block;
  content: "";
  width: 300px;
  height: 225px;
  background-image: url(/img/how-we-work-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.work-item-3::before {
  display: block;
  content: "";
  width: 300px;
  height: 259px;
  background-image: url(/img/how-we-work-3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.work-item-4::before {
  display: block;
  content: "";
  width: 300px;
  height: 171px;
  background-image: url(/img/how-we-work-4.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.work-item-5::before {
  display: block;
  content: "";
  width: 300px;
  height: 232px;
  background-image: url(/img/how-we-work-5.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.work-item-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 130%;
  font-weight: bold;
}

.work-item-text {
  margin: 8px 0 0 0;
  padding: 0;
  width: 493px;
  font-size: 16px;
  line-height: 24px;
}

.how-we-work__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ordered section */

.order-section {
  background-color: var(--btn-drop-footerfont-color);
}

.order-section-wrapper {
  width: 719px;
  margin: 0 auto;
}

/* .order-section-title-wrap {
  text-align: center;
  color: #fff;
} */

.order-section-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
}

.order-section-text {
  margin: 16px 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
}

.order-section-form {
  margin-top: 24px;
  padding: 24px;
  width: 348px;
  border-radius: 5px;
  background-color: #fff;
}

.order-inputs {
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  width: 300px;
  background-color: #F3F3F3;
  aspect-ratio: none;
}

.order-inputs:hover,
.order-inputs:focus {
  border: 1px solid rgba(95, 198, 247, 0.76);
}

.order-inputs:active {
  border: 1px solid rgb(95, 198, 247,);
}

.order-inputs::placeholder {
  font-size: 16px;
  line-height: 150%;
  color: #222;
}

.order-input-order {
  appearance: none;
  background-image: url(../img/icon/arrow-select.svg);
  background-repeat: no-repeat;
  background-position: 270px center;
}

.submit-btn-wrap {
  display: flex;  
  justify-content: center;
}

/* SITE FOOTER */

.site-footer {
  background-color: var(--text-footer-color);
}

.site-footer-wrapper {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  color: #fff;
}

.footer-title {
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 20px;
  line-height: 130%;
  font-weight: bold;
}

.footer-copyright__content {
  margin: 0;
  padding: 0;
  line-height: 2;
  width: 320px;
}

.footer-site-pages {
  margin-left: 100px;
}

.footer-site-pages__title {
  margin-bottom: 22px;
}

.footer-site-pages__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s ease,
  color 0.3s ease;
}

.footer-site-pages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-site-pages__item {
  margin-top: 14px;
}

.footer-social {
  margin-left: 87px;
}

.footer-social__title {
  margin-bottom: 22px;
}

.footer-social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social__item {
  margin-top: 8px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  width: 108px;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s ease,
  color 0.3s ease;
}

.social__link-telegram:before {
  content: "";
  margin-right: 9px;
  width: 23px;
  height: 25px;
  background-image: url(/img/icon/telegram.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.social__link-facebook:before {
  content: "";
  margin-right: 9px;
  width: 23px;
  height: 24px;
  background-image: url(/img/icon/facebook.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.social__link-instagram:before {
  content: "";
  margin-right: 9px;
  width: 23px;
  height: 24px;
  background-image: url(/img/icon/instagram.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.footer-content-transform:hover {
  color: var(--btn-drop-footerfont-color);
}

.footer-content-transform:active {
  color: var(--btn-drop-footerfont-color-80);
}

.footer-social__link:active::before{
  opacity: 0.6;
}

/* Services side */

.main-services {
  padding-top: 56px;
}

.services-intro__container {
  padding: 72px 0 72px 0;
}

.services-intro {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.services-intro__title {
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 40px;
  line-height: 130%;
}

.services-intro__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.services-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 80px 0;
  background-color: #F4F4F4;
}

.service-order-card {
  width: 804px;
  padding: 32px 32px 32px 272px;
  background: #FFFFFF;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.service-order-card__wrapper {
  width: 508px;
}

.service-order-card__title {
  margin: 0 0 16px 0;
  padding: 0;
}

.service-order-card__text {
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.service-order-card__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-order-card__item {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px
}

.service-order-card__item:not(:last-child) {
  margin-bottom: 8px;
}

.service-order-card__item:last-child {
  margin-bottom: 16px;
}

.service-order-card__item::before {
  display: block;
  margin-right: 8px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--btn-drop-footerfont-color);
}

.service-order-card__item-text {
  margin: 0;
  padding: 0;
}

.create-site-card {
  margin-bottom: 64px;
  background-image: url(../img/make-web-site.svg);
  background-repeat: no-repeat;
  background-position: 32px 32px;
}

.create-telegram-bot {
  margin-bottom: 64px;
  background-image: url(../img/tg-bot.svg);
  background-repeat: no-repeat;
  background-position: 32px 32px;
}

.smm-card-service {
  margin-bottom: 64px;
  background-image: url(../img/smm.svg);
  background-repeat: no-repeat;
  background-position: 32px 32px;
}

.graphic-design-card {
  margin-bottom: 64px;
  background-image: url(../img/service-design.svg);
  background-repeat: no-repeat;
  background-position: 32px 32px;
}

.crm-base-card {
  background-image: url(../img/crm-base.svg);
  background-repeat: no-repeat;
  background-position: 32px 32px;
}
/* FORM */

.order-input-order-service {
  appearance: none;
  background-image: url(/img/icon/arrow-select2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}